.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #377DFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  margin: 0 auto;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background:#b0b7c3dc;
  color: white;
}

.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 200px;
}

.message {
  text-align: center;
  margin-top: 60px;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}