
/* FORM STYLES */
.inputContainer {
  position: relative;
  margin-bottom: 30px;
}

.inputContainer img,
.changeInputTypeButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputContainer img:nth-of-type(1) {
  left: 18px;
}

.inputContainer img:nth-of-type(2) {
  right: 21px;
  cursor: pointer;
}

.formInput {
  line-height: 58px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #F3F3F3;
  background: #FFF;
  padding: 0 10px 0 51px;
  font-size: 16px;
}

.formInput,
.formInput::placeholder {
  color: #B0B7C3;
  font-family: 'Inter', sans-serif;
}

.formInput:focus {
  outline: none;
  border: 1px solid #dad8d8;
}


.passStrengthContainer {
  padding: 0 18px;
  margin-bottom :30px;
}

.passStrengthContainer div {
  width: 68px;
  height: 4px;
  border-radius: 2px;
  background: #F3F3F3;
}

input[type="checkbox"] {
  margin-right: 17px;
}

input[type='submit'] {
  border : none;
  background :#377DFF;
  color: #FFF;
  width :100%;
  line-height :58px;
  border-radius :16px;
  border: 1px solid #377DFF;

  font-size: 16px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

input[type='submit']:hover {
  background :#1263fa;
}

.alreadyHaveAcc{
  text-align: center;
}

.signInButton {
  border: none;
  color: #377DFF;
  background: none;
  font-weight: 500;
  margin-left :10px;
}