.navContainer {
  width: 1275px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.logoLink:link,
.logoLink:visited,
.logoLink:hover,
.logoLink:active{
  color: #4E5D78;
}

.logoLink h1 {
  margin-left :10px;
  position :relative;
  top: 9px;
}

.languageBtn{
  border: none;
  background: #F0F5FA;
  border-radius: 16px;
  width: 146px;
  line-height: 43px;
  padding: 0 18px;
  color: #B0B7C3;
  font-size: 12px;
  
}